@media (max-width:992px) {
    .infos6 {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        padding: 0;
        margin: auto;
        justify-content: center;
    }
    .filters.show {
        display: block;
    }

    .filters {
        display: none;

        .features {

            width: 55%;
            margin-left: 20rem;

            .features-parts {
                display: flex;
                justify-content: space-between;
                padding-top: 1.7rem;
                border-bottom: 1px solid #BDBDBD;

                p {
                    font-weight: 500;
                    color: #4F4F4F;
                    font-size: 14px;
                }
            }
        }
    }

    .sira-filter {
        display: flex;
        justify-content: space-between;
        width: 500px;
        text-align: center;
    }

    .sira-filter {
        p:hover {
            cursor: pointer;
        }
    }

    .general-brend {
        margin-top: 1.5rem;
        padding: 1rem 0.5rem;

        .brend-container {
            a {
                text-decoration: none;
                color: black;
            }

            .brend-box {
                border: 1px solid rgb(234, 232, 232);
                box-shadow: 1px 1px 7px rgb(204, 201, 201);
                width: 250px;
                height: 310px;
                padding: 0 1.2rem;

                img {
                    width: 136px;
                    margin-top: 1.5rem;
                    margin-left: 1.5rem;
                }

                p {
                    margin-top: 1.2rem;

                }

                h4 {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }

                .qiymet {
                    display: flex;

                    .price {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin-left: 1rem;
                        color: grey;
                    }

                    .sale {
                        padding-left: 7px;
                        color: #DB2C66;
                    }
                }


            }


        }
    }

    .filter-container {
        padding: 1rem 4rem;


        .govde {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;





            .filter {
                margin: auto;
                margin-left: 6rem;



                .links {
                    display: none;
                }

                .above {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #BDBDBD;


                    p {
                        color: #4F4F4F;
                        font-size: 14px;
                    }
                }

                .checkbox-brends {
                    margin-top: 1.2rem;


                    form {
                        color: #4F4F4F;
                        font-size: 14px;


                        input[type=checkbox] {
                            width: 15px;
                            height: 15px;
                            appearance: none;
                            background-color: #00D68F29;
                            border: 1px solid #2DD06E;
                        }

                        input:checked {
                            background-color: #2DD06E;
                        }

                        input:checked::before {
                            content: '\2713';
                            /* Unicode character for checkmark */
                            color: white;
                        }

                    }
                }


            }
        }

        .phone-data {
            padding-top: 2rem;


            .selection {

                p {
                    color: #333333;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 7rem;
                }

                display:flex;
                justify-content: space-between;



            }

            #mehsul-secimi {
                display: none;
            }

        }
    }
}

@media (max-width:883px) {
    .infos6 {
        display: flex;
        flex-wrap: wrap;
        width: 120%;
        padding: 0;
        margin: auto;
        justify-content: center;
    }
    .filters.show {
        display: block;
    }

    .filters {
        display: none;

        .features {

            width: 55%;
            margin-left: 16rem;

            .features-parts {
                display: flex;
                justify-content: space-between;
                padding-top: 1.7rem;
                border-bottom: 1px solid #BDBDBD;

                p {
                    font-weight: 500;
                    color: #4F4F4F;
                    font-size: 14px;
                }
            }
        }
    }

    .sira-filter {
        display: flex;
        justify-content: space-between;
        width: 500px;
        text-align: center;
    }

    .sira-filter {
        p:hover {
            cursor: pointer;
        }
    }

    .general-brend {
        margin-top: 1.5rem;
        padding: 1rem 0.5rem;

        .brend-container {
            a {
                text-decoration: none;
                color: black;
            }

            .brend-box {
                border: 1px solid rgb(234, 232, 232);
                box-shadow: 1px 1px 7px rgb(204, 201, 201);
                width: 250px;
                height: 310px;
                padding: 0 1.2rem;

                img {
                    width: 136px;
                    margin-top: 1.5rem;
                    margin-left: 1.5rem;
                }

                p {
                    margin-top: 1.2rem;

                }

                h4 {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }

                .qiymet {
                    display: flex;

                    .price {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin-left: 1rem;
                        color: grey;
                    }

                    .sale {
                        padding-left: 7px;
                        color: #DB2C66;
                    }
                }


            }


        }
    }

    .filter-container {
        padding: 1rem 4rem;


        .govde {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;





            .filter {
                margin: auto;
                margin-left: 6rem;



                .links {
                    display: none;
                }

                .above {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #BDBDBD;


                    p {
                        color: #4F4F4F;
                        font-size: 14px;
                    }
                }

                .checkbox-brends {
                    margin-top: 1.2rem;


                    form {
                        color: #4F4F4F;
                        font-size: 14px;


                        input[type=checkbox] {
                            width: 15px;
                            height: 15px;
                            appearance: none;
                            background-color: #00D68F29;
                            border: 1px solid #2DD06E;
                        }

                        input:checked {
                            background-color: #2DD06E;
                        }

                        input:checked::before {
                            content: '\2713';
                            /* Unicode character for checkmark */
                            color: white;
                        }

                    }
                }


            }
        }

        .phone-data {
            padding-top: 2rem;


            .selection {

                p {
                    color: #333333;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 7rem;
                }

                display:flex;
                justify-content: space-between;



            }

            #mehsul-secimi {
                display: none;
            }

        }
    }
}

@media (max-width:700px) {
    .css-166annl-MuiStack-root {
        width:550px;
    }
    .infos6 {
        display: flex;
        flex-wrap: wrap;
        width: 150%;
        padding: 0;
        margin-left:-6rem;
    }
    .filters.show {
        display: block;
    }

    .filters {
        display: none;

        .features {

            width: 55%;
            margin-left: 14rem;

            .features-parts {
                display: flex;
                justify-content: space-between;
                padding-top: 1.7rem;
                border-bottom: 1px solid #BDBDBD;

                p {
                    font-weight: 500;
                    color: #4F4F4F;
                    font-size: 14px;
                }
            }
        }
    }

    .sira-filter {
        display: flex;
        justify-content: space-between;
        width: 350px;
        text-align: center;
    }

    .sira-filter {
        p:hover {
            cursor: pointer;
        }
    }

    .general-brend {
        margin-top: 1.5rem;
        padding: 1rem 0.5rem;

        .brend-container {
            a {
                text-decoration: none;
                color: black;
            }

            .brend-box {
                border: 1px solid rgb(234, 232, 232);
                box-shadow: 1px 1px 7px rgb(204, 201, 201);
                width: 250px;
                height: 310px;
                padding: 0 1.2rem;

                img {
                    width: 136px;
                    margin-top: 1.5rem;
                    margin-left: 1.5rem;
                }

                p {
                    margin-top: 1.2rem;

                }

                h4 {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }

                .qiymet {
                    display: flex;

                    .price {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin-left: 1rem;
                        color: grey;
                    }

                    .sale {
                        padding-left: 7px;
                        color: #DB2C66;
                    }
                }


            }


        }
    }

    .filter-container {
        padding: 1rem 4rem;


        .govde {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;





            .filter {
                margin: auto;
                margin-left: 6rem;



                .links {
                    display: none;
                }

                .above {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #BDBDBD;


                    p {
                        color: #4F4F4F;
                        font-size: 14px;
                    }
                }

                .checkbox-brends {
                    margin-top: 1.2rem;


                    form {
                        color: #4F4F4F;
                        font-size: 14px;


                        input[type=checkbox] {
                            width: 15px;
                            height: 15px;
                            appearance: none;
                            background-color: #00D68F29;
                            border: 1px solid #2DD06E;
                        }

                        input:checked {
                            background-color: #2DD06E;
                        }

                        input:checked::before {
                            content: '\2713';
                            /* Unicode character for checkmark */
                            color: white;
                        }

                    }
                }


            }
        }

        .phone-data {
            padding-top: 2rem;


            .selection {

                p {
                    color: #333333;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 7rem;
                }

                display:flex;
                justify-content: space-between;



            }

            #mehsul-secimi {
                display: none;
            }

        }
    }
}

@media (max-width:605px) {
    .css-166annl-MuiStack-root {
        width:450px;
        margin:auto;
        display:flex;
        justify-content: center;
    }
    .infos6 {
        display: flex;
        flex-wrap: wrap;
        width: 150%;
        padding: 0;
        margin-left:-6rem;
    }
    .filters.show {
        display: block;
    }

    .filters {
        display: none;

        .features {

            width: 70%;
            margin-left: 8rem;

            .features-parts {
                display: flex;
                justify-content: space-between;
                padding-top: 1.7rem;
                border-bottom: 1px solid #BDBDBD;

                p {
                    font-weight: 500;
                    color: #4F4F4F;
                    font-size: 14px;
                }
            }
        }
    }

    .sira-filter {
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin-left:-3rem;
        
    }

    .sira-filter {
        p:hover {
            cursor: pointer;
        }
    }

    .general-brend {
        margin-top: 1.5rem;
        padding: 1rem 0.5rem;

        .brend-container {
            a {
                text-decoration: none;
                color: black;
            }

            .brend-box {
                border: 1px solid rgb(234, 232, 232);
                box-shadow: 1px 1px 7px rgb(204, 201, 201);
                width: 250px;
                height: 310px;
                padding: 0 1.2rem;

                img {
                    width: 136px;
                    margin-top: 1.5rem;
                    margin-left: 1.5rem;
                }

                p {
                    margin-top: 1.2rem;

                }

                h4 {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }

                .qiymet {
                    display: flex;

                    .price {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin-left: 1rem;
                        color: grey;
                    }

                    .sale {
                        padding-left: 7px;
                        color: #DB2C66;
                    }
                }


            }


        }
    }

    .filter-container {
        padding: 1rem 4rem;


        .govde {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;





            .filter {
                margin: auto;
                margin-left: 6rem;



                .links {
                    display: none;
                }

                .above {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #BDBDBD;


                    p {
                        color: #4F4F4F;
                        font-size: 14px;
                    }
                }

                .checkbox-brends {
                    margin-top: 1.2rem;


                    form {
                        color: #4F4F4F;
                        font-size: 14px;


                        input[type=checkbox] {
                            width: 15px;
                            height: 15px;
                            appearance: none;
                            background-color: #00D68F29;
                            border: 1px solid #2DD06E;
                        }

                        input:checked {
                            background-color: #2DD06E;
                        }

                        input:checked::before {
                            content: '\2713';
                            /* Unicode character for checkmark */
                            color: white;
                        }

                    }
                }


            }
        }

        .phone-data {
            padding-top: 2rem;


            .selection {

                p {
                    color: #333333;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 7rem;
                }

                display:flex;
                justify-content: space-between;



            }

            #mehsul-secimi {
                display: none;
            }

        }
    }
}

@media (max-width:590px) {
    .css-166annl-MuiStack-root {
        width:450px;
        margin:auto;
        display:flex;
        justify-content: center;
    }
    .infos6 {
        display: flex;
        flex-wrap: wrap;
        width: 180%;
        padding: 0;
        margin-left:-6rem;
    }
    .filters.show {
        display: block;
    }

    .filters {
        display: none;

        .features {

            width: 70%;
            margin-left: 7rem;

            .features-parts {
                display: flex;
                justify-content: space-between;
                padding-top: 1.7rem;
                border-bottom: 1px solid #BDBDBD;

                p {
                    font-weight: 500;
                    color: #4F4F4F;
                    font-size: 14px;
                }
            }
        }
    }

    .sira-filter {
        display: flex;
        justify-content: space-between;
        width: 320px;
        margin-left:-3rem;
        
    }

    .sira-filter {
        p:hover {
            cursor: pointer;
        }
    }

    .general-brend {
        margin-top: 1.5rem;
        padding: 1rem 0.5rem;

        .brend-container {
            a {
                text-decoration: none;
                color: black;
            }

            .brend-box {
                border: 1px solid rgb(234, 232, 232);
                box-shadow: 1px 1px 7px rgb(204, 201, 201);
                width: 210px;
                height: 290px;
                padding: 0 1.5rem;

                img {
                    width: 110px;
                    margin-top: 1.5rem;
                    margin-left: 1.5rem;
                }

                p {
                    margin-top: 1.2rem;

                }

                h4 {
                    margin-top: 1rem;
                    margin-left: 1rem;
                }

                .qiymet {
                    display: flex;

                    .price {
                        font-size: 14px;
                        text-decoration: line-through;
                        margin-left: 1rem;
                        color: grey;
                    }

                    .sale {
                        padding-left: 7px;
                        color: #DB2C66;
                    }
                }


            }


        }
    }

    .filter-container {
        padding: 1rem 4rem;


        .govde {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: auto;





            .filter {
                margin: auto;
                margin-left: 6rem;



                .links {
                    display: none;
                }

                .above {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #BDBDBD;


                    p {
                        color: #4F4F4F;
                        font-size: 14px;
                    }
                }

                .checkbox-brends {
                    margin-top: 1.2rem;


                    form {
                        color: #4F4F4F;
                        font-size: 14px;


                        input[type=checkbox] {
                            width: 15px;
                            height: 15px;
                            appearance: none;
                            background-color: #00D68F29;
                            border: 1px solid #2DD06E;
                        }

                        input:checked {
                            background-color: #2DD06E;
                        }

                        input:checked::before {
                            content: '\2713';
                            /* Unicode character for checkmark */
                            color: white;
                        }

                    }
                }


            }
        }

        .phone-data {
            padding-top: 2rem;


            .selection {

                p {
                    color: #333333;
                    font-weight: 500;
                    font-size: 14px;
                    padding-left: 7rem;
                }

                display:flex;
                justify-content: space-between;



            }

            #mehsul-secimi {
                display: none;
            }

        }
    }
}